@import './base.css';

#app {
  font-weight: normal;
}

a, .green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.btn {
  border-radius: 5px;
  padding: 8px 16px;
  outline: none;
}
.btn_green {
  background-color: rgb(0, 124, 83);
  color: var(--vt-c-white);
  border: 1px solid rgb(0, 124, 83);
}
.btn_green:focus {
  box-shadow: 0 0 0 3px rgb(129, 190, 170);
}
.btn_green:hover {
  background-color: rgb(0, 150, 100);
  box-shadow: 0 0 0 3px rgb(0, 230, 153);
}
.btn_green:active {
  background-color: rgb(0, 124, 83);
  box-shadow: 0 0 0 3px rgb(0, 124, 83);
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
